node-red/flows_calpoly-20150429025749.json
[{"type":"tab","id":"d79d4458.33b5b8","label":"Sheet 1"},{"type":"tab","id":"a5304f90.5acfb","label":"uWater"},{"type":"tab","id":"a8cdfd0.93c638","label":"WeatherStuff"},{"id":"366511f5.c99aee","type":"subflow","name":"QueryDevices","in":[{"x":93,"y":143,"wires":[{"id":"2fd05eab.d02fa2"}]}],"out":[{"x":1345,"y":296,"wires":[{"id":"f584a7ea.0a7b58","port":0}]},{"x":415,"y":391,"wires":[{"id":"ba82ae7c.457d5","port":0}]}]},{"id":"13a1bc30.ec5e44","type":"subflow","name":"ScheduleWatering","in":[{"x":136,"y":124,"wires":[{"id":"873361e3.78cca"}]}],"out":[{"x":1014,"y":342,"wires":[{"id":"f504043.f0afbf8","port":1},{"id":"d85d0a5c.27a2f8","port":0}]}]},{"id":"263be2c3.d9c41e","type":"subflow","name":"[put]Relay","in":[{"x":68,"y":177,"wires":[{"id":"d08accde.2f753"}]}],"out":[{"x":742,"y":81,"wires":[{"id":"f297a076.0d686","port":0}]}]},{"id":"5c7740b7.a388c","type":"subflow","name":"check200Status","in":[{"x":365,"y":327,"wires":[{"id":"53ddcd10.ac2234"}]}],"out":[{"x":772,"y":326,"wires":[{"id":"53ddcd10.ac2234","port":0}]},{"x":772,"y":398,"wires":[{"id":"53ddcd10.ac2234","port":1}]}]},{"id":"e25337a9.1dacc8","type":"subflow","name":"uWaterDB","in":[{"x":230,"y":168,"wires":[{"id":"306867bb.cf9798"}]}],"out":[{"x":633,"y":169,"wires":[{"id":"306867bb.cf9798","port":0}]}]},{"id":"92dcd694.6d2328","type":"subflow","name":"InsertDeviceDataToDB","in":[{"x":270,"y":199,"wires":[{"id":"63285a1e.9cd7a4"}]}],"out":[{"x":891,"y":203,"wires":[{"id":"b3974f59.4c68b","port":0}]}]},{"id":"ddbe0482.2241f8","type":"subflow","name":"SetupTestUser","in":[{"x":25,"y":146,"wires":[{"id":"f31bb946.0ce448"}]}],"out":[{"x":437,"y":718,"wires":[{"id":"4e8af5d5.b1750c","port":0},{"id":"67ce964d.983168","port":0}]}]},{"id":"3767b842.c89848","type":"subflow","name":"QueryUserSettings","in":[{"x":78,"y":153,"wires":[{"id":"4b43b953.b4bc48"}]}],"out":[{"x":1072,"y":309,"wires":[{"id":"3b905183.c46fae","port":0}]}]},{"id":"dbffaae5.240058","type":"subflow","name":"QueryWeather","in":[{"x":111,"y":185,"wires":[{"id":"61c175b7.9e3e8c"}]}],"out":[{"x":1099,"y":366,"wires":[{"id":"c90ab9fd.49cbc8","port":0}]}]},{"id":"e3bb3f9a.1c44c","type":"subflow","name":"PushUserSettingsDB","in":[{"x":141,"y":164,"wires":[{"id":"138e3bb.fec71c4"}]}],"out":[{"x":707,"y":165,"wires":[{"id":"14b7bb93.eb4844","port":0}]}]},{"id":"183deb7f.e7c215","type":"subflow","name":"UpdateUserTimeRangesDB","in":[{"x":70,"y":168,"wires":[{"id":"f6db49d5.0924b8"}]}],"out":[{"x":966,"y":162,"wires":[{"id":"543b058d.abc4fc","port":0}]}]},{"id":"ba386057.845d3","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"84f3ae4.660845","type":"mqtt-broker","broker":"localhost","port":"1880","clientid":""},{"id":"156a1dda.ea95e2","type":"forecastio-credentials","key_identifier":"uWater"},{"id":"3ee2a38d.c11d5c","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"uwater","tz":""},{"id":"9838b62a.088af8","type":"inject","name":"RED","topic":"","payload":"01000000","payloadType":"string","repeat":"","crontab":"","once":false,"x":190,"y":80,"z":"d79d4458.33b5b8","wires":[["dc58fcf5.c6228"]]},{"id":"65514ef1.adcec8","type":"inject","name":"GREEN","topic":"","payload":"00010000","payloadType":"string","repeat":"","crontab":"","once":false,"x":190,"y":160,"z":"d79d4458.33b5b8","wires":[["dc58fcf5.c6228"]]},{"id":"2a0c63fa.7b5e6c","type":"inject","name":"BLUE","topic":"","payload":"00000100","payloadType":"string","repeat":"","crontab":"","once":false,"x":190,"y":240,"z":"d79d4458.33b5b8","wires":[["dc58fcf5.c6228"]]},{"id":"dc58fcf5.c6228","type":"http request","name":"","method":"PUT","ret":"bin","url":"http://54.191.98.247:8080/water/endpoints/WateringBoard/3311/1/5706?sync=true","x":512.5,"y":220,"z":"d79d4458.33b5b8","wires":[["de9aa812.a16308"]]},{"id":"de9aa812.a16308","type":"debug","name":"message","active":true,"console":"false","complete":"true","x":797,"y":220,"z":"d79d4458.33b5b8","wires":[]},{"id":"7017a66f.d425f8","type":"inject","name":"OFF","topic":"","payload":"00000000","payloadType":"string","repeat":"","crontab":"","once":false,"x":190,"y":320,"z":"d79d4458.33b5b8","wires":[["dc58fcf5.c6228"]]},{"id":"36ef7bee.059ed4","type":"inject","name":"WHITE","topic":"","payload":"01010100","payloadType":"string","repeat":"","crontab":"","once":false,"x":190,"y":40,"z":"d79d4458.33b5b8","wires":[["dc58fcf5.c6228"]]},{"id":"7fb91661.376bd8","type":"inject","name":"YELLOW","topic":"","payload":"01010000","payloadType":"string","repeat":"","crontab":"","once":false,"x":179,"y":120,"z":"d79d4458.33b5b8","wires":[["dc58fcf5.c6228"]]},{"id":"13e1472a.e5b1b1","type":"inject","name":"CYAN","topic":"","payload":"00010100","payloadType":"string","repeat":"","crontab":"","once":false,"x":190,"y":200,"z":"d79d4458.33b5b8","wires":[["dc58fcf5.c6228"]]},{"id":"eec4b990.0cb2f8","type":"inject","name":"PURPLE","topic":"","payload":"01000100","payloadType":"string","repeat":"","crontab":"","once":false,"x":193,"y":280,"z":"d79d4458.33b5b8","wires":[["dc58fcf5.c6228"]]},{"id":"5fa6ff42.a059","type":"debug","name":"","active":false,"console":"false","complete":"false","x":601,"y":1734,"z":"a5304f90.5acfb","wires":[]},{"id":"3656c147.c9a93e","type":"http request","name":"GetResources","method":"GET","ret":"txt","url":"http://54.191.98.247:8080/water/endpoints/WateringBoard/","x":366,"y":1734,"z":"a5304f90.5acfb","wires":[["5fa6ff42.a059"]]},{"id":"235d995b.dca266","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":143,"y":1734,"z":"a5304f90.5acfb","wires":[["3656c147.c9a93e"]]},{"id":"deeefc64.2111","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":104,"y":60,"z":"a5304f90.5acfb","wires":[["b54a0e4d.4ab5f"]]},{"id":"875858b0.78a7a8","type":"delay","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":734.5,"y":208,"z":"a5304f90.5acfb","wires":[["417f58fe.be80a8"]]},{"id":"2e448d3e.69d9ba","type":"inject","name":"Query","topic":"Home","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":116,"y":245.25,"z":"a8cdfd0.93c638","wires":[["5ce16f30.a31e9"]]},{"id":"c368e061.fc24e","type":"http request","name":"get forecast.io","method":"GET","ret":"txt","url":"","x":578.9999389648438,"y":247.2500762939453,"z":"a8cdfd0.93c638","wires":[["33091a1c.705cd6","5aea3de0.fc31bc"]]},{"id":"33091a1c.705cd6","type":"function","name":"make Weather object","func":"//parse forecast.io message\n\nvar weather = JSON.parse(msg.payload); \n\nvar data = weather.minutely.data;\nvar timeToRain = -1;\n\nfor (var i=0 ; i< data.length;i++) {\n\tif (data[i].precipProbability > 0.25) {\n\t    weather.nextRain = parseInt(data[i].time);\n\t    break;\n\t}\n}\n\n//reduce size of object\ndelete weather.minutely;\ndelete weather.hourly;\ndelete weather.daily;\ndelete weather.flags;\n\nif (weather.nextRain !== undefined) {\n\tvar t = weather.nextRain - parseInt(weather.currently.time);\n    t = t < 0 ? 0 : t/60;\n    timeToRain = t;\n    weather.timeToRain = t;\n}\n\n//save weather info\ncontext.global.weather = weather;\n\nvar msg2 = { payload:timeToRain };\nreturn msg2;","outputs":"1","valid":true,"x":793.9999542236328,"y":304.2499942779541,"z":"a8cdfd0.93c638","wires":[["b0f4b5d7.6ebcd8","5ebb3fd2.13f44"]]},{"id":"5ebb3fd2.13f44","type":"debug","name":"","complete":"payload","x":1053.8333282470703,"y":238.7499942779541,"z":"a8cdfd0.93c638","wires":[]},{"id":"b0f4b5d7.6ebcd8","type":"mqtt out","name":"Minutes to Rain","topic":"weather/forecast/minsToRain","broker":"ba386057.845d3","x":1042.000015258789,"y":299.2499942779541,"z":"a8cdfd0.93c638","wires":[]},{"id":"5aea3de0.fc31bc","type":"debug","name":"","active":true,"complete":"false","x":764.0000152587891,"y":243.2499942779541,"z":"a8cdfd0.93c638","wires":[]},{"id":"30368ba9.3d954c","type":"comment","name":"Rain Forecaster","info":"","x":264,"y":198.25,"z":"a8cdfd0.93c638","wires":[]},{"id":"2fd05eab.d02fa2","type":"http request","name":"GetHumidity","method":"GET","ret":"txt","url":"http://54.191.98.247:8080/water/endpoints/WateringBoard/3304/0/5700?sync=true","x":225,"y":144,"z":"366511f5.c99aee","wires":[["eeead3e6.11153"]]},{"id":"7a570e44.85a8f","type":"function","name":"SaveHumidity","func":"context.global.humidity = parseFloat(msg.payload);\nreturn {};","outputs":1,"valid":true,"x":603,"y":143,"z":"366511f5.c99aee","wires":[["68894f4b.9776b"]]},{"id":"68894f4b.9776b","type":"http request","name":"GetRelay","method":"GET","ret":"txt","url":"http://54.191.98.247:8080/water/endpoints/WateringBoard/3201/0/5550?sync=true","x":769,"y":150,"z":"366511f5.c99aee","wires":[["a53f5ca4.5ac0a"]]},{"id":"8286bdcf.7d794","type":"function","name":"SaveRelay","func":"context.global.relay = parseInt(msg.payload);\nreturn {};","outputs":1,"valid":true,"x":1107,"y":159,"z":"366511f5.c99aee","wires":[["c3d20be.f3c2df8"]]},{"id":"417f58fe.be80a8","type":"subflow:366511f5.c99aee","name":"","x":423.5,"y":65,"z":"a5304f90.5acfb","wires":[["f4caceb4.0b353"],["875858b0.78a7a8"]]},{"id":"873361e3.78cca","type":"function","name":"CheckHumidityAndRain","func":"var newMsg = { humidity: context.global.humidity, relay: context.global.relay, payload: \"0\" };\nvar weather = context.global.weather;\nvar timeRanges = context.global.waterTimeRanges;\nvar now = new Date();\nvar tomorrow = new Date(now.getTime() + (24 * 60 * 60 * 1000));\nvar inRange = false;\n\nif (timeRanges) {\n    for (var ndx = 0; ndx < timeRanges.length; ndx++) {\n        var startTime = new Date(now.toLocaleDateString()+\" \"+timeRanges[ndx].startTime);\n        var endTime = new Date((timeRanges[ndx].endTime == \"00:00:00\" ?\n                                tomorrow.toLocaleDateString() :\n                                now.toLocaleDateString())+\" \"+timeRanges[ndx].endTime);\n        inRange = inRange || (now >= startTime && now < endTime);\n    }\n}\n\nif (inRange &&\n    context.global.humidity < context.global.userSettings.minMoisture &&\n    (weather === undefined || weather === null ||\n     weather.timeToRain === -1 ||\n     weather.timeToRain < context.global.userSettings.maxTimeToRain)) {\n    newMsg.payload = \"1\";\n}\nnewMsg.send = context.global.relay.toString() !== newMsg.payload;\nnewMsg.topic = \"Decision\";\nreturn newMsg;","outputs":1,"valid":true,"x":324,"y":124,"z":"13a1bc30.ec5e44","wires":[["f504043.f0afbf8","b3aafc0e.4c55"]]},{"id":"f504043.f0afbf8","type":"switch","name":"CheckNeedSend","property":"send","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","outputs":2,"x":552,"y":125,"z":"13a1bc30.ec5e44","wires":[["8b25fcd3.74da","d85d0a5c.27a2f8"],[]]},{"id":"d08accde.2f753","type":"http request","name":"RelayPut","method":"PUT","ret":"txt","url":"http://54.191.98.247:8080/water/endpoints/WateringBoard/3201/0/5550?sync=true","x":365,"y":262,"z":"263be2c3.d9c41e","wires":[["eadcd48b.152328","f297a076.0d686"]]},{"id":"eadcd48b.152328","type":"debug","name":"","active":true,"console":"false","complete":"false","x":750,"y":326,"z":"263be2c3.d9c41e","wires":[]},{"id":"8b25fcd3.74da","type":"subflow:263be2c3.d9c41e","name":"","x":726,"y":75,"z":"13a1bc30.ec5e44","wires":[["d85d0a5c.27a2f8"]]},{"id":"f4caceb4.0b353","type":"subflow:13a1bc30.ec5e44","x":677.5,"y":58,"z":"a5304f90.5acfb","wires":[["28ba8cc2.d74574"]]},{"id":"91139672.6eec68","type":"http in","name":"[get]uWater","url":"/uWater","method":"get","x":107,"y":585,"z":"a5304f90.5acfb","wires":[["426e3504.bd91cc"]]},{"id":"25c52b9a.da3ad4","type":"template","name":"createHTML","field":"payload","format":"handlebars","template":"<!doctype HTML>\n<html lang=\"en-US\">\n<head>\n   <title>uWater Settings Page</title>\n   <meta charset=\"UTF-8\"></meta>\n   <meta name=\"description\" content=\"uWater Settings Page\"></meta>\n   <meta name=\"keywords\" content=\"uWater,watering,internet of things,IoT\"></meta>\n   <meta name=\"author\" content=\"Jason Swanson, Sam Wu, Eric Yun\"></meta>\n   \n   <!-- Include Required Prerequisites -->\n   <script type=\"text/javascript\" src=\"http://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js\"></script>\n   <script type=\"text/javascript\" src=\"http://cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js\"></script>\n   <link rel=\"stylesheet\" type=\"text/css\" href=\"http://cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.css\" />\n\n   <!-- Include Date Range Picker -->\n   <script type=\"text/javascript\" src=\"http://cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js\"></script>\n   <link rel=\"stylesheet\" type=\"text/css\" href=\"http://cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css\" />\n</head>\n<body bgcolor=\"D1F0FF\" style=\"position: relative; min-height: 100%; margin:0px; padding:0px;\">\n   <h1 style=\"padding:8px; background-color:#83CBF2; border:3px solid black; text-align:center; margin: 0px;\"><strong style=\"color:#1A54A1;\">uWater Settings</strong></h1> \n   \n   <h4 style=\"border-left:3px solid black; border-right:3px solid black; padding:4px; background-color:#83D8F2; margin:0px; text-align:center;\">Humidity: {{{humidity}}}</h4>\n   <h4 style=\"border-left:3px solid black; border-right:3px solid black; padding:4px; background-color:#83D8F2; margin:0px; text-align:center;\">Relay: {{{relay}}}</h4>\n   <h4 style=\"border-top:2px solid black; border-left:3px solid black; border-right:3px solid black; padding:4px; background-color:#8DDEEB; margin:0px; text-align:center;\">Weather time: <span id=\"wTime\"></span></h4>\n   <h4 style=\"border-bottom:3px solid black; border-left:3px solid black; border-right:3px solid black; padding:4px; background-color:#8DDEEB; margin:0px; text-align:center;\">Time until rain: {{{timeToRain}}}</h4>\n   \n   <div style=\"border-left:3px solid black; border-right:3px solid black; border-bottom:3px solid black; background:#FFFFFF; margin:0px; text-align:center\">\n   <h4 style=\"padding-top:4px; background-color:white; margin:0px; text-align:center;\"><strong>Status Graph</strong></h4>\n      <iframe id=\"chart\" name=\"chart\" src=\"http://23.253.47.206:1880/googleChart\" scrolling=\"no\" style=\"width:830px; height:250px; border:none; margin-right:-4%\"></iframe><br/>\n   </div>\n   \n   <div style=\"border-left:3px solid black; border-right:3px solid black; border-bottom:3px solid black; background:#ABE5ED; margin:0px; text-align:center; padding:4px\">\n   <table style=\"margin:0px; margin-left:auto; margin-right:auto;\">\n      <tr>\n         <td><strong>Chart Data Range:&nbsp</strong></td>\n         <td><input type=\"text\" id=\"dateRange\" name=\"dateRange\" value=\"\" style=\"width: 300px; text-align:center\"/></td>\n      </tr>\n   </table>\n   </div>\n   \n   <script type=\"text/javascript\">\n   $(function() {\n      $('input[name=\"dateRange\"]').daterangepicker({\n         timePicker:true,\n         format: 'MM/DD/YYYY h:mm A',\n         timePickerIncrement: 30,\n         timePicker12Hour: true,\n         timePickerSeconds: false,\n         showDropdowns: true,\n         showWeekNumbers: true,\n         drops: 'up',\n         opens: 'center',\n         ranges: {\n           'Today': [moment().subtract(1, 'days'), moment()],\n           'Yesterday': [moment().subtract(2, 'days'), moment().subtract(1, 'days')],\n           'Last 7 Days': [moment().subtract(6, 'days'), moment()],\n           'Last 30 Days': [moment().subtract(29, 'days'), moment()],\n           'This Month': [moment().startOf('month'), moment().endOf('month')],\n           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]\n         }\n      });\n      \n      $('input[name=\"dateRange\"]').data('daterangepicker').setStartDate({{{chartStartTime}}});\n      $('input[name=\"dateRange\"]').data('daterangepicker').setEndDate({{{chartEndTime}}});\n      $('input[name=\"dateRange\"]').on('apply.daterangepicker', function(ev, picker) {\n         updateChart(picker.startDate, picker.endDate);\n      });\n   });\n   </script>\n   \n   <br/>\n   \n   <form name=\"prefForm\" id=\"prefForm\" action=\"http://23.253.47.206:1880/uWater\" method=\"post\">\n      <table style=\"margin-left:auto; margin-right:auto; width:600px\">\n      <tbody>\n      <tr>\n         <td colspan=\"2\" style=\"padding:8px;background-color:#C2EBFF;border:2px solid #222222;text-align:center;\"><strong>Preferences</strong></td></tr>\n      <tr>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\">Minimum humidity value </td>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center;\"><input id=\"minMoisture\" name=\"minMoisture\" value=\"{{{minMoisture}}}\" style=\"width:50px;text-align:center;\"/> %</td>\n      </tr>\n      <tr>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\">Time(s) of day to water <br/>(ctrl+click to select multiple) </td>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\">\n            <select id = \"timeOfDayToWater\" name=\"timeOfDayToWater\" multiple = \"multiple\" size = \"6\"  style=\"width:70px;\">\n            <option value = \"00:00:00\" style=\"text-align:center;\">12am</option>\n            <option value = \"01:00:00\" style=\"text-align:center;\">1am</option>\n            <option value = \"02:00:00\" style=\"text-align:center;\">2am</option>\n            <option value = \"03:00:00\" style=\"text-align:center;\">3am</option>\n            <option value = \"04:00:00\" style=\"text-align:center;\">4am</option>\n            <option value = \"05:00:00\" style=\"text-align:center;\">5am</option>\n            <option value = \"06:00:00\" style=\"text-align:center;\">6am</option>\n            <option value = \"07:00:00\" style=\"text-align:center;\">7am</option>\n            <option value = \"08:00:00\" style=\"text-align:center;\">8am</option>\n            <option value = \"09:00:00\" style=\"text-align:center;\">9am</option>\n            <option value = \"10:00:00\" style=\"text-align:center;\">10am</option>\n            <option value = \"11:00:00\" style=\"text-align:center;\">11am</option>\n            <option value = \"12:00:00\" style=\"text-align:center;\">12pm</option>\n            <option value = \"13:00:00\" style=\"text-align:center;\">1pm</option>\n            <option value = \"14:00:00\" style=\"text-align:center;\">2pm</option>\n            <option value = \"15:00:00\" style=\"text-align:center;\">3pm</option>\n            <option value = \"16:00:00\" style=\"text-align:center;\">4pm</option>\n            <option value = \"17:00:00\" style=\"text-align:center;\">5pm</option>\n            <option value = \"18:00:00\" style=\"text-align:center;\">6pm</option>\n            <option value = \"19:00:00\" style=\"text-align:center;\">7pm</option>\n            <option value = \"20:00:00\" style=\"text-align:center;\">8pm</option>\n            <option value = \"21:00:00\" style=\"text-align:center;\">9pm</option>\n            <option value = \"22:00:00\" style=\"text-align:center;\">10pm</option>\n            <option value = \"23:00:00\" style=\"text-align:center;\">11pm</option>\n            </select>\n         </td>\n      </tr>\n      <tr>\n         <td width=\"50%\"style=\"border:2px solid #222222;text-align:center\">Minimum precipitation chance </td>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\"><input id=\"minPrecipitationChance\" name=\"minPrecipitationChance\" value=\"{{{minPrecipitationChance}}}\" style=\"width:50px;text-align:center;\"/> %</td>\n      </tr>\n      <tr>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\">Maximum time to wait for rain </td>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\"><input id=\"maxTimeToRain\" name=\"maxTimeToRain\" value=\"{{{maxTimeToRain}}}\" style=\"width:70px;text-align:center;\"/> minutes</td>\n      </tr>\n      <tr>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\">Latitude </td>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\"><input id=\"lat\" name=\"lat\" value=\"{{{lat}}}\" style=\"width:150px;text-align:center;\"/>&deg;</td>\n      </tr>\n      <tr>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\">Longitude </td>\n         <td width=\"50%\" style=\"border:2px solid #222222;text-align:center\"><input id=\"lon\" name=\"lon\" value=\"{{{lon}}}\" style=\"width:150px;text-align:center;\"/>&deg;</td>\n      </tr>\n      <tr>\n         <td colspan=\"2\" style=\"border:2px solid #222222;text-align:center\"><button type=\"button\" onClick=\"uploadPrefs()\" style=\"width:100%; background-color:#609EE0; border-color:#609EE0\">Update Preferences</button></td>\n   </tbody>\n   </table>\n   </form>\n\n   <script id=\"showWeatherTime\" name=\"showWeatherTime\" type=\"text/javascript\">\n      document.getElementById(\"wTime\").innerHTML = new Date({{{weatherTime}}});\n   </script>\n   \n   <script id=\"setTimeOfDayToWater\" name=\"setTimeOfDayToWater\" type=\"text/javascript\">\n      var timeRanges = {{{timeOfDayToWater}}};\n      var timesList = document.getElementById(\"timeOfDayToWater\");\n      \n      for (var rangeNdx = 0; rangeNdx < timeRanges.length; rangeNdx++) {\n         for(var index = 0; index < timesList.options.length; index++) {\n            if (timesList.options[index].value >= timeRanges[rangeNdx].startTime &&\n               (timesList.options[index].value < timeRanges[rangeNdx].endTime ||\n                timeRanges[rangeNdx].endTime == \"00:00:00\")) {\n               timesList.options[index].selected = true;\n            }\n         }\n      }\n   </script>\n   \n   <script id=\"getTimeOfDayToWater\" name=\"getTimeOfDayToWater\" type=\"text/javascript\">\n   function getTimeOfDayToWater(){\n      var timeRanges = [];\n      var timeList = document.getElementById(\"timeOfDayToWater\");\n      var lastSelected = null;\n      \n      for(var index = 0; index < timeList.options.length; index++)\n      {\n         var option = timeList.options[index];\n         if(option.selected === true)\n         {\n            lastSelected = lastSelected || option.value;\n         }\n         else\n         {\n            if (lastSelected !== null) {\n               timeRanges.push({startTime: lastSelected, endTime: option.value});\n            }\n            lastSelected = null;\n         }\n      }\n      if (lastSelected !== null) {  //handle 11pm case\n         timeRanges.push({startTime: lastSelected, endTime: timeList.options[0].value});\n      }\n      \n      return timeRanges;\n   }\n   </script>\n   \n   <script type=\"text/javascript\">\n   function uploadPrefs() {\n      var prefs = {\n                  minMoisture: document.getElementById(\"minMoisture\").value,\n                  timeOfDayToWater: getTimeOfDayToWater(),\n                  minPrecipitationChance: document.getElementById(\"minPrecipitationChance\").value,\n                  maxTimeToRain: document.getElementById(\"maxTimeToRain\").value,\n                  lat: document.getElementById(\"lat\").value,\n                  lon: document.getElementById(\"lon\").value\n                  }\n   \n      $.ajax({\n         method: \"POST\",\n         url: \"http://23.253.47.206:1880/uWater\",\n         data: prefs\n      })\n       .done(function( msg ) {\n         alert( \"Preferences Updated\" );\n      })\n       .fail(function( jqXHR, textStatus ) {\n         alert( \"Upload Failed: \" + textStatus);\n      });\n   }\n   </script>\n   \n   <script type=\"text/javascript\">\n   function updateChart(startDate, endDate) {\n      $.ajax({\n         method: \"POST\",\n         url: \"http://23.253.47.206:1880/updateChart\",\n         data: {startDate: +startDate, endDate: +endDate}\n      })\n       .done(function( msg ) {\n         document.getElementById('chart').contentWindow.location.reload();\n         alert( \"Chart Updated\");\n      })\n       .fail(function( jqXHR, textStatus ) {\n         alert( \"Update Failed: \" + textStatus);\n      });\n   }\n   </script>\n   \n</body>\n</html>","x":931,"y":586,"z":"a5304f90.5acfb","wires":[["50a3ab8c.af5c54"]]},{"id":"50a3ab8c.af5c54","type":"http response","name":"http response","x":1175,"y":586,"z":"a5304f90.5acfb","wires":[]},{"id":"426e3504.bd91cc","type":"function","name":"getInfo","func":"if (context.global.humidity !== undefined &&\n    context.global.humidity !== null &&\n    !isNaN(context.global.humidity)) {\n    msg.humidity = (context.global.humidity*100).toPrecision(4)+\"%\";\n} else  {\n    msg.humidity = \"Unknown\";\n}\n\nif (context.global.relay === 0) {\n    msg.relay = \"Off\";\n} else if (context.global.relay === 1) {\n    msg.relay = \"On\";\n} else {\n    msg.relay = \"Unknown\";\n}\n\nvar weather = context.global.weather;\nif (weather !== undefined && weather !== null) {\n    msg.weatherTime = parseInt(weather.currently.time)*1000;\n    msg.timeToRain = weather.timeToRain === -1 ?\n                     \"None\" : weather.timeToRain.toPrecision(5) + \" mins\";\n} else {\n    msg.timeToRain = msg.weatherTime = \"Unknown\";\n}\n\nnode.log(context.global.userSettings);\n\nmsg.minMoisture = context.global.userSettings.minMoisture * 100;\nmsg.timeOfDayToWater = context.global.userSettings.timeOfDayToWater;\nmsg.minPrecipitationChance = context.global.userSettings.minPrecipitationChance * 100;\nmsg.maxTimeToRain = context.global.userSettings.maxTimeToRain;\nmsg.lat = context.global.userSettings.lat;\nmsg.lon = context.global.userSettings.lon;\nmsg.timeOfDayToWater = (context.global.waterTimeRanges && JSON.stringify(context.global.waterTimeRanges)) || \"[]\";\n\nmsg.chartEndTime = context.global.chartEndTime || Date.now();\nmsg.chartStartTime = context.global.chartStartTime || (msg.chartEndTime - 86400000);\nreturn msg;","outputs":1,"valid":true,"x":660,"y":586,"z":"a5304f90.5acfb","wires":[["25c52b9a.da3ad4"]]},{"id":"5ce16f30.a31e9","type":"function","name":"SetRequestProperties","func":"msg.lat = 35.2895122;\nmsg.lon = -120.6584247;\nmsg.url = \"https://api.forecast.io/forecast/af50c493bdd13fa8ec026c6d260d1398/\"\n+msg.lat+(msg.lon === undefined? \"\" : \",\"+msg.lon)\n+(msg.time === undefined ? \"\" : \",\"+msg.time);\nreturn msg;","outputs":1,"valid":true,"x":322,"y":245,"z":"a8cdfd0.93c638","wires":[["c368e061.fc24e"]]},{"id":"5ede48c7.a121b8","type":"inject","name":"RelayOff","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":161,"y":1592,"z":"a5304f90.5acfb","wires":[["42e99791.bd1668"]]},{"id":"92d82a0b.6d27d8","type":"inject","name":"RelayOn","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":231,"y":1650,"z":"a5304f90.5acfb","wires":[["42e99791.bd1668"]]},{"id":"42e99791.bd1668","type":"subflow:263be2c3.d9c41e","x":427,"y":1613,"z":"a5304f90.5acfb","wires":[["9e84d230.617b3"]]},{"id":"9e84d230.617b3","type":"debug","name":"","active":true,"console":"false","complete":"false","x":596,"y":1613,"z":"a5304f90.5acfb","wires":[]},{"id":"53ddcd10.ac2234","type":"switch","name":"checkStatusCode","property":"statusCode","rules":[{"t":"eq","v":"200"},{"t":"else"}],"checkall":"false","outputs":2,"x":570,"y":324,"z":"5c7740b7.a388c","wires":[[],[]]},{"id":"eeead3e6.11153","type":"subflow:5c7740b7.a388c","x":414,"y":65,"z":"366511f5.c99aee","wires":[["7a570e44.85a8f"],["ba82ae7c.457d5"]]},{"id":"a53f5ca4.5ac0a","type":"subflow:5c7740b7.a388c","x":925,"y":76,"z":"366511f5.c99aee","wires":[["8286bdcf.7d794"],["ba82ae7c.457d5"]]},{"id":"f584a7ea.0a7b58","type":"function","name":"setUpdateSuccess","func":"return {updateSuccess:true};","outputs":1,"valid":true,"x":1185,"y":296,"z":"366511f5.c99aee","wires":[[]]},{"id":"b3aafc0e.4c55","type":"debug","name":"","active":true,"console":"false","complete":"true","x":525,"y":273,"z":"13a1bc30.ec5e44","wires":[]},{"id":"f297a076.0d686","type":"subflow:5c7740b7.a388c","x":318,"y":84,"z":"263be2c3.d9c41e","wires":[[],["70dfbc00.8f2044"]]},{"id":"70dfbc00.8f2044","type":"delay","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":544,"y":117,"z":"263be2c3.d9c41e","wires":[["d08accde.2f753"]]},{"id":"7150e863.8eaf18","type":"mqtt out","name":"Minutes to Rain","topic":"weather/forecast/minsToRain","broker":"ba386057.845d3","x":848,"y":286,"z":"a5304f90.5acfb","wires":[]},{"id":"24609b5e.db9f64","type":"comment","name":"Rain Forecaster","info":"","x":172,"y":285,"z":"a5304f90.5acfb","wires":[]},{"id":"ba82ae7c.457d5","type":"function","name":"setUpdateFail","func":"context.global.humidity = context.global.relay = null;\nreturn {updateSuccess:false};","outputs":1,"valid":true,"x":235,"y":389,"z":"366511f5.c99aee","wires":[[]]},{"id":"6a06d55a.95f92c","type":"mysql","mydb":"3ee2a38d.c11d5c","name":"uWater","x":458,"y":533,"z":"d79d4458.33b5b8","wires":[["ddce8489.223178"]]},{"id":"ee47dd2f.11b82","type":"inject","name":"","topic":"select * from test;","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":204,"y":504,"z":"d79d4458.33b5b8","wires":[["6a06d55a.95f92c"]]},{"id":"ddce8489.223178","type":"debug","name":"","active":true,"console":"false","complete":"false","x":661,"y":531,"z":"d79d4458.33b5b8","wires":[]},{"id":"e411e8f6.1bee18","type":"inject","name":"insert into test values(null,2);","topic":"insert into test values(null,2);","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":193,"y":567,"z":"d79d4458.33b5b8","wires":[["6a06d55a.95f92c"]]},{"id":"306867bb.cf9798","type":"mysql","mydb":"3ee2a38d.c11d5c","name":"uWater","x":411,"y":168,"z":"e25337a9.1dacc8","wires":[[]]},{"id":"95710afc.6a8ef8","type":"inject","name":"","topic":"delete from test;","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":196,"y":624,"z":"d79d4458.33b5b8","wires":[["6a06d55a.95f92c"]]},{"id":"46f757cb.b908a8","type":"comment","name":"MySQL Test","info":"","x":548,"y":430,"z":"d79d4458.33b5b8","wires":[]},{"id":"63285a1e.9cd7a4","type":"function","name":"createInsertSQL","func":"var query = {};\nquery.topic = \"INSERT INTO DeviceData values(NULL,\";\nquery.topic += context.global.userId + \",'\";\nquery.topic += new Date().toISOString() + \"',\";\nquery.topic += context.global.humidity + \",\";\nquery.topic += context.global.relay + \");\";\nreturn query;","outputs":1,"valid":true,"x":478,"y":195,"z":"92dcd694.6d2328","wires":[["b3974f59.4c68b"]]},{"id":"b3974f59.4c68b","type":"subflow:e25337a9.1dacc8","x":702,"y":197,"z":"92dcd694.6d2328","wires":[[]]},{"id":"c3d20be.f3c2df8","type":"subflow:92dcd694.6d2328","name":"","x":910,"y":299,"z":"366511f5.c99aee","wires":[["f584a7ea.0a7b58"]]},{"id":"93dea75e.6c2158","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":727,"y":124,"z":"a5304f90.5acfb","wires":[["417f58fe.be80a8"]]},{"id":"be7e5ac2.4181a8","type":"comment","name":"Main loop","info":"","x":369,"y":25,"z":"a5304f90.5acfb","wires":[]},{"id":"643ea9ec.9bc158","type":"comment","name":"Web interface","info":"","x":162,"y":541,"z":"a5304f90.5acfb","wires":[]},{"id":"3b0ca4fe.c4f35c","type":"comment","name":"Test modules","info":"","x":158,"y":1521,"z":"a5304f90.5acfb","wires":[]},{"id":"872bd5cb.78d428","type":"inject","name":"select * from DeviceData;","topic":"select * from DeviceData;","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":211,"y":452,"z":"d79d4458.33b5b8","wires":[["6a06d55a.95f92c"]]},{"id":"45be3d0f.ba41c4","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"valid":true,"x":758,"y":1125,"z":"d79d4458.33b5b8","wires":[["832ac23e.7cd54"]]},{"id":"6ba7c5.ff94583c","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1034,"z":"d79d4458.33b5b8","wires":[["45be3d0f.ba41c4"]]},{"id":"832ac23e.7cd54","type":"debug","name":"","active":true,"console":"false","complete":"true","x":965,"y":1124,"z":"d79d4458.33b5b8","wires":[]},{"id":"d829ea11.27d618","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":504,"y":1130,"z":"d79d4458.33b5b8","wires":[["45be3d0f.ba41c4"]]},{"id":"3bb3fe8b.c44c02","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":501,"y":1214,"z":"d79d4458.33b5b8","wires":[["45be3d0f.ba41c4"]]},{"id":"d4621b0c.2b9de8","type":"function","name":"Task1","func":"msg.topic=\"task1\";\nmsg.payload=\"Task1's payload\"\nreturn msg;","outputs":1,"valid":true,"x":332,"y":1034,"z":"d79d4458.33b5b8","wires":[["6ba7c5.ff94583c"]]},{"id":"1e886783.e17798","type":"function","name":"Task2","func":"msg.topic=\"task2\";\nmsg.payload=\"Task2's payload\"\nreturn msg;","outputs":1,"valid":true,"x":335,"y":1129,"z":"d79d4458.33b5b8","wires":[["d829ea11.27d618"]]},{"id":"88de33fd.7721d","type":"function","name":"Task3","func":"msg.topic=\"task3\";\nmsg.payload=\"Task3's payload\"\nreturn msg;","outputs":1,"valid":true,"x":330,"y":1213,"z":"d79d4458.33b5b8","wires":[["3bb3fe8b.c44c02"]]},{"id":"8bcadd29.74352","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":166,"y":1118,"z":"d79d4458.33b5b8","wires":[["d4621b0c.2b9de8","1e886783.e17798","88de33fd.7721d"]]},{"id":"f343865a.0cbc78","type":"chart request","charttype":"LineChart","path":"/googlechart","refresh":"60","formatx":"MM/dd HH:mm","formaty":"#%","attribs":[{"name":"timestamp","type":"datetime"},{"name":"Humidity","type":"number"},{"name":"Relay","type":"number"},{"name":"Rain Chance","type":"number"}],"x":116,"y":953,"z":"a5304f90.5acfb","wires":[["b336e100.4cc92","676c0f1a.9893f"]]},{"id":"ec863589.1379c8","type":"chart response","x":877,"y":1146,"z":"a5304f90.5acfb","wires":[]},{"id":"888050fb.777fb","type":"comment","name":"Google Charts","info":"","x":175,"y":903,"z":"a5304f90.5acfb","wires":[]},{"id":"e8128526.17ed78","type":"subflow:e25337a9.1dacc8","x":829,"y":968,"z":"a5304f90.5acfb","wires":[["b336e100.4cc92"]]},{"id":"c9492a44.36b6d8","type":"function","name":"QueryDeviceDataDB","func":"var query = {};\n//TODO: Allow for date range selection later\nquery.topic = \"SELECT timestamp, Humidity, Relay FROM DeviceData WHERE userId=\"+\n   context.global.userId+\" AND timestamp >= '\"+ new Date(msg.startTime).toISOString() +\n   \"' AND timestamp <= '\"+ new Date(msg.endTime).toISOString() +\"';\";\nquery.isDeviceData = true;\nreturn query;","outputs":1,"valid":true,"x":596,"y":951,"z":"a5304f90.5acfb","wires":[["e8128526.17ed78"]]},{"id":"b336e100.4cc92","type":"function","name":"CombineResults","func":"context.data = context.data || {};\n\nif (msg.isDeviceData) {\n    for (var i = 0; i < msg.payload.length; i++) {\n        msg.payload[i][\"Rain Chance\"] = null;\n    }\n    context.data.gotDeviceData = true;\n    context.data.rows =\n        context.data.rows ? context.data.rows.concat(msg.payload)\n            : msg.payload;\n    msg = null\n} else if (msg.isWeatherData) {\n    for (var i = 0; i < msg.payload.length; i++) {\n        msg.payload[i][\"Humidity\"] = null;\n        msg.payload[i][\"Relay\"] = null;\n    }\n    context.data.gotWeatherData = true;\n    context.data.rows =\n        context.data.rows ? context.data.rows.concat(msg.payload)\n            : msg.payload;\n    msg = null;\n} else {\n    context.data.graphReq = msg;\n    msg = null;\n}\n\nif (context.data.graphReq &&\n    context.data.gotDeviceData &&\n    context.data.gotWeatherData) {\n    msg = context.data.graphReq;\n    msg.payload = context.data.rows;\n    context.data = {};\n}\n\nreturn msg;","outputs":1,"valid":true,"x":663,"y":1146,"z":"a5304f90.5acfb","wires":[["ec863589.1379c8"]]},{"id":"30e5271b.cf1ad8","type":"inject","name":"delete from DeviceData;","topic":"delete from DeviceData;","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":292,"y":407,"z":"d79d4458.33b5b8","wires":[["6a06d55a.95f92c"]]},{"id":"e5e370b4.1a1c9","type":"subflow:366511f5.c99aee","x":479,"y":707,"z":"d79d4458.33b5b8","wires":[["adf4f3ae.520b1"],["adf4f3ae.520b1"]]},{"id":"e6fd8fe3.19027","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":278,"y":717,"z":"d79d4458.33b5b8","wires":[["e5e370b4.1a1c9"]]},{"id":"adf4f3ae.520b1","type":"debug","name":"","active":true,"console":"false","complete":"false","x":713,"y":711,"z":"d79d4458.33b5b8","wires":[]},{"id":"f31bb946.0ce448","type":"function","name":"QueryForTestUser","func":"var query = {};\nquery.topic = \"SELECT * from Users where username = 'test';\";\nreturn query;","outputs":1,"valid":true,"x":226,"y":140,"z":"ddbe0482.2241f8","wires":[["f3e87725.0c1788"]]},{"id":"f3e87725.0c1788","type":"subflow:e25337a9.1dacc8","x":451,"y":141,"z":"ddbe0482.2241f8","wires":[["809116b0.7f6ee8"]]},{"id":"809116b0.7f6ee8","type":"function","name":"CheckIfTestUserExists","func":"msg.createTestUser = msg.payload.length === 0;\nreturn msg;","outputs":1,"valid":true,"x":669,"y":143,"z":"ddbe0482.2241f8","wires":[["27689166.d8976e"]]},{"id":"27689166.d8976e","type":"switch","name":"IfCreateTestUser","property":"createTestUser","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","outputs":2,"x":252,"y":283,"z":"ddbe0482.2241f8","wires":[["820f0fa2.7df0f"],["67ce964d.983168"]]},{"id":"820f0fa2.7df0f","type":"function","name":"CreateTestUser","func":"var query = {};\nquery.topic = \"INSERT INTO Users VALUES(NULL, 'test', 'test');\";\nreturn query;","outputs":1,"valid":true,"x":568,"y":295,"z":"ddbe0482.2241f8","wires":[["749db77.f8b6248"]]},{"id":"749db77.f8b6248","type":"subflow:e25337a9.1dacc8","x":781,"y":293,"z":"ddbe0482.2241f8","wires":[["d055196c.2faae8"]]},{"id":"3b26fca0.c4d904","type":"function","name":"CreateTestUserSettings","func":"context.global.userId = msg.payload[0].id;\nvar query = {};\nquery.topic = \"INSERT INTO UserSetting VALUES(\"+\n    context.global.userId+\n    \", 0.01, '06:00:00', 0.25, 480, 35.2895122, -120.6584247);\";\nreturn query;","outputs":1,"valid":true,"x":857,"y":533,"z":"ddbe0482.2241f8","wires":[["4e8af5d5.b1750c"]]},{"id":"d055196c.2faae8","type":"function","name":"getUserId","func":"var query = {};\nquery.topic = \"SELECT id from Users WHERE username = 'test';\"\nreturn query;","outputs":1,"valid":true,"x":993,"y":299,"z":"ddbe0482.2241f8","wires":[["d2cbbbce.2d3448"]]},{"id":"d2cbbbce.2d3448","type":"subflow:e25337a9.1dacc8","x":1195,"y":300,"z":"ddbe0482.2241f8","wires":[["f4cff967.0b3008"]]},{"id":"4e8af5d5.b1750c","type":"subflow:e25337a9.1dacc8","x":1086,"y":536,"z":"ddbe0482.2241f8","wires":[[]]},{"id":"b54a0e4d.4ab5f","type":"subflow:ddbe0482.2241f8","name":"","x":108,"y":174,"z":"a5304f90.5acfb","wires":[["210b7c3c.def484"]]},{"id":"2a22bb23.d5dd44","type":"subflow:e25337a9.1dacc8","x":466,"y":156,"z":"3767b842.c89848","wires":[["c9362d9e.36c9d"]]},{"id":"4b43b953.b4bc48","type":"function","name":"QueryUserSettings","func":"var query = {};\nquery.topic = \"SELECT * FROM UserSetting WHERE userId = \"+context.global.userId+\";\";\nreturn query;","outputs":1,"valid":true,"x":249,"y":157,"z":"3767b842.c89848","wires":[["2a22bb23.d5dd44"]]},{"id":"c9362d9e.36c9d","type":"function","name":"SetLocalSettingsFromUserSettings","func":"context.global.userSettings = msg.payload[0];\nreturn msg;","outputs":1,"valid":true,"x":740,"y":154,"z":"3767b842.c89848","wires":[["cb864c33.3479b","58e3c314.a71c3c"]]},{"id":"210b7c3c.def484","type":"subflow:3767b842.c89848","name":"","x":327,"y":183,"z":"a5304f90.5acfb","wires":[["417f58fe.be80a8","45d9d42a.ba262c"]]},{"id":"c1e0b823.3e1f48","type":"delay","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":574,"y":372,"z":"a5304f90.5acfb","wires":[["45d9d42a.ba262c"]]},{"id":"cb864c33.3479b","type":"debug","name":"UserSettings","active":true,"console":"false","complete":"true","x":1008,"y":232,"z":"3767b842.c89848","wires":[]},{"id":"4cea58ca.b315a8","type":"http in","name":"[post]updateSettings","url":"/uWater","method":"post","x":122,"y":726,"z":"a5304f90.5acfb","wires":[["8c75a6dc.738a58","11b450c7.ee4baf"]]},{"id":"8c75a6dc.738a58","type":"function","name":"parseSettings","func":"var userSettings = {userId: context.global.userId};\n\nuserSettings.minMoisture = parseFloat(msg.payload.minMoisture)/100;\nuserSettings.timeOfDayToWater = msg.payload.timeOfDayToWater;\nuserSettings.minPrecipitationChance = parseFloat(msg.payload.minPrecipitationChance)/100;\nuserSettings.maxTimeToRain = parseInt(msg.payload.maxTimeToRain);\nuserSettings.lat = parseFloat(msg.payload.lat);\nuserSettings.lon = parseFloat(msg.payload.lon);\n\ncontext.global.userSettings = userSettings;\ncontext.global.waterTimeRanges = msg.payload.timeOfDayToWater;\nreturn msg;","outputs":1,"valid":true,"x":334,"y":724,"z":"a5304f90.5acfb","wires":[["487edf0b.b7812","aaa71f0a.5558e"]]},{"id":"487edf0b.b7812","type":"function","name":"SendOK","func":"context.data = context.data || {};\n\nif (msg.weatherUpdated) {\n    context.data.updated = 1;\n    msg = null;\n} else {\n    context.data.postReq = msg;\n    msg = null;\n}\n\nif (context.data.updated && context.data.postReq) {\n    msg = context.data.postReq;\n    msg.statusCode = 200;\n    context.data = {};\n}\n\nreturn msg;","outputs":1,"valid":true,"x":666.9999694824219,"y":724.0000305175781,"z":"a5304f90.5acfb","wires":[["44fbf4d.fbb040c"]]},{"id":"67ce964d.983168","type":"function","name":"SetTestUserId","func":"context.global.userId = msg.payload[0].id\nreturn msg;","outputs":1,"valid":true,"x":367,"y":465,"z":"ddbe0482.2241f8","wires":[[]]},{"id":"f4cff967.0b3008","type":"function","name":"SetTestUserId","func":"context.global.userId = msg.payload[0].id\nreturn msg;","outputs":1,"valid":true,"x":1027,"y":425,"z":"ddbe0482.2241f8","wires":[["3b26fca0.c4d904"]]},{"id":"61c175b7.9e3e8c","type":"function","name":"SetRequestProperties","func":"msg.lat = context.global.userSettings && context.global.userSettings.lat || 35.2895122;\nmsg.lon = context.global.userSettings && context.global.userSettings.lon || -120.6584247;\nmsg.url = \"https://api.forecast.io/forecast/af50c493bdd13fa8ec026c6d260d1398/\"\n+msg.lat+(msg.lon === undefined? \"\" : \",\"+msg.lon)\n+(msg.time === undefined ? \"\" : \",\"+msg.time);\nreturn msg;","outputs":1,"valid":true,"x":316,"y":183,"z":"dbffaae5.240058","wires":[["3749876.fc8b678"]]},{"id":"3749876.fc8b678","type":"http request","name":"get forecast.io","method":"GET","ret":"txt","url":"","x":572.9999389648438,"y":185.2500762939453,"z":"dbffaae5.240058","wires":[["4ebd2acd.b142d4","84293416.7bd6c8"]]},{"id":"4ebd2acd.b142d4","type":"function","name":"make Weather object and saveQuery","func":"//parse forecast.io message\n\nvar weather = JSON.parse(msg.payload); \n\nvar data = weather.hourly.data;\nweather.timeToRain = -1;\n\nfor (var i=0 ; i< data.length;i++) {\n\tif (data[i].precipProbability >\n\t        context.global.userSettings.minPrecipitationChance) {\n\t    weather.nextRain = parseInt(data[i].time);\n\t    break;\n\t}\n}\n\n//reduce size of object\ndelete weather.minutely;\ndelete weather.hourly;\ndelete weather.daily;\ndelete weather.flags;\n\nif (weather.nextRain !== undefined) {\n\tvar t = weather.nextRain - parseInt(weather.currently.time);\n    t = t < 0 ? 0 : t/60;\n    weather.timeToRain = t;\n}\n\n//save weather info\ncontext.global.weather = weather;\n\n//create insert query for new weather data\nvar query = {};\nvar weatherTime =\n    new Date(parseInt(weather.currently.time)*1000).toISOString();\nquery.topic = \"INSERT INTO WeatherData VALUES(NULL,\"+\n    context.global.userId+\",'\"+weatherTime+\"',\"+\n    weather.currently.precipProbability+\");\";\nreturn query;","outputs":"1","valid":true,"x":490.99993896484375,"y":366.25,"z":"dbffaae5.240058","wires":[["26fc92ea.d9036e"]]},{"id":"84293416.7bd6c8","type":"debug","name":"","active":true,"complete":"payload","x":967,"y":185.25,"z":"dbffaae5.240058","wires":[]},{"id":"45d9d42a.ba262c","type":"subflow:dbffaae5.240058","x":576,"y":283,"z":"a5304f90.5acfb","wires":[["7150e863.8eaf18","c1e0b823.3e1f48"]]},{"id":"824d1de1.7db2e","type":"subflow:dbffaae5.240058","x":937,"y":848,"z":"a5304f90.5acfb","wires":[["487edf0b.b7812"]]},{"id":"26fc92ea.d9036e","type":"subflow:e25337a9.1dacc8","x":760,"y":366,"z":"dbffaae5.240058","wires":[["c90ab9fd.49cbc8"]]},{"id":"ec6d13b8.1392f","type":"function","name":"QueryWeatherDataDB","func":"var query = {};\n//TODO: Allow for date range selection later\nquery.topic = \"SELECT timestamp, precipProbability as 'Rain Chance' FROM WeatherData WHERE userId=\"+\n   context.global.userId+\" AND timestamp >= '\"+ new Date(msg.startTime).toISOString() +\n   \"' AND timestamp <= '\"+ new Date(msg.endTime).toISOString() +\"';\";\nquery.isWeatherData = true;\nreturn query;","outputs":1,"valid":true,"x":589,"y":992,"z":"a5304f90.5acfb","wires":[["e8128526.17ed78"]]},{"id":"28ba8cc2.d74574","type":"switch","name":"IfRelayOnCheckOften","property":"payload","rules":[{"t":"eq","v":"\"1\""},{"t":"else"}],"checkall":"false","outputs":2,"x":973,"y":59,"z":"a5304f90.5acfb","wires":[["93dea75e.6c2158"],["875858b0.78a7a8"]]},{"id":"676c0f1a.9893f","type":"function","name":"ParseChartParams","func":"var endTime = msg.endTime || context.global.chartEndTime || Date.now();\nvar startTime = msg.startTime || context.global.chartStartTime || (endTime - 86400000);\nreturn {startTime: startTime, endTime: endTime};","outputs":1,"valid":true,"x":344,"y":953,"z":"a5304f90.5acfb","wires":[["c9492a44.36b6d8","ec6d13b8.1392f"]]},{"id":"58e3c314.a71c3c","type":"function","name":"QueryUserTimeRanges","func":"var query = {};\nquery.topic = \"SELECT startTime, endTime FROM WaterTimeRanges WHERE userId = \"+\n    context.global.userId +\";\";\nreturn query;","outputs":1,"valid":true,"x":365,"y":308,"z":"3767b842.c89848","wires":[["5de258b8.a21da8"]]},{"id":"5de258b8.a21da8","type":"subflow:e25337a9.1dacc8","x":609,"y":309,"z":"3767b842.c89848","wires":[["3b905183.c46fae"]]},{"id":"3b905183.c46fae","type":"function","name":"SetWateringTimeRanges","func":"context.global.waterTimeRanges = msg.payload;\nreturn msg;","outputs":1,"valid":true,"x":833,"y":310,"z":"3767b842.c89848","wires":[["cb864c33.3479b"]]},{"id":"11b450c7.ee4baf","type":"debug","name":"","active":true,"console":"false","complete":"false","x":138,"y":811,"z":"a5304f90.5acfb","wires":[]},{"id":"138e3bb.fec71c4","type":"function","name":"UpdateUserSettings","func":"var query = {};\nquery.topic = \"UPDATE UserSetting SET \"+\n\"minMoisture=\"+context.global.userSettings.minMoisture+\n\",timeOfDayToWater='\"+context.global.userSettings.timeOfDayToWater+\n\"',minPrecipitationChance=\"+context.global.userSettings.minPrecipitationChance+\n\",maxTimeToRain=\"+context.global.userSettings.maxTimeToRain+\n\",lat=\"+context.global.userSettings.lat+\n\",lon=\"+context.global.userSettings.lon+\n\"WHERE userId=\"+context.global.userId+\";\";\nreturn query;","outputs":1,"valid":true,"x":343,"y":160,"z":"e3bb3f9a.1c44c","wires":[["14b7bb93.eb4844"]]},{"id":"14b7bb93.eb4844","type":"subflow:e25337a9.1dacc8","x":551,"y":162,"z":"e3bb3f9a.1c44c","wires":[[]]},{"id":"aaa71f0a.5558e","type":"subflow:e3bb3f9a.1c44c","x":418,"y":849,"z":"a5304f90.5acfb","wires":[["7530d5aa.8acf2c"]]},{"id":"88f17fa1.770e8","type":"subflow:e25337a9.1dacc8","x":417,"y":166,"z":"183deb7f.e7c215","wires":[["19c6605c.e639a"]]},{"id":"f6db49d5.0924b8","type":"function","name":"DropOldTimeRanges","func":"var query = {};\nquery.topic = \"DELETE FROM WaterTimeRanges WHERE userID = \"+\n    context.global.userId+\";\";\nreturn query;","outputs":1,"valid":true,"x":224,"y":167,"z":"183deb7f.e7c215","wires":[["88f17fa1.770e8"]]},{"id":"19c6605c.e639a","type":"function","name":"InsertNewTimeRanges","func":"var query = {};\nquery.topic = \"INSERT INTO WaterTimeRanges VALUES \";\nvar timeRanges = context.global.waterTimeRanges;\nif (timeRanges) {\n    for (var ndx = 0; ndx < timeRanges.length; ndx++) {\n        query.topic = query.topic +\n            (ndx === 0 ? \"(\" : \", (\")+context.global.userId+\",'\"+\n            timeRanges[ndx].startTime+\"','\"+\n            timeRanges[ndx].endTime+\"')\";\n    }\n}\nquery.topic = query.topic + \";\";\nreturn query;","outputs":1,"valid":true,"x":620,"y":165,"z":"183deb7f.e7c215","wires":[["543b058d.abc4fc"]]},{"id":"543b058d.abc4fc","type":"subflow:e25337a9.1dacc8","x":837,"y":164,"z":"183deb7f.e7c215","wires":[[]]},{"id":"7530d5aa.8acf2c","type":"subflow:183deb7f.e7c215","x":684,"y":848,"z":"a5304f90.5acfb","wires":[["824d1de1.7db2e"]]},{"id":"c90ab9fd.49cbc8","type":"function","name":"ReturnWeatherUpdated","func":"return {weatherUpdated:true};","outputs":1,"valid":true,"x":958.2000122070312,"y":368.20001220703125,"z":"dbffaae5.240058","wires":[[]]},{"id":"d85d0a5c.27a2f8","type":"function","name":"passDecision","func":"context.data = context.data || {};\n\nif (msg.topic) {\n    context.data.payload = msg.payload;\n    msg = null;\n} else {\n    context.data.sent = true;\n    msg = null;\n}\n\nif (context.data.sent && context.data.payload) {\n    msg = {payload: context.data.payload};\n    context.data = {};\n}\nreturn msg;","outputs":1,"valid":true,"x":876,"y":123,"z":"13a1bc30.ec5e44","wires":[[]]},{"id":"9da710d6.6258f","type":"http in","name":"[post]updateChart","url":"/updateChart","method":"post","x":136,"y":1305,"z":"a5304f90.5acfb","wires":[["a3484d9e.5cb7b","d493240e.2b6cd8"]]},{"id":"a3484d9e.5cb7b","type":"function","name":"updateDateRange","func":"var newMsg = null;\n\nif (msg.payload[\"startDate\"] && msg.payload[\"endDate\"]) {\n    var startTime = parseInt(msg.payload[\"startDate\"]);\n    var endTime = parseInt(msg.payload[\"endDate\"]);\n    if (!isNaN(startTime) && !isNaN(endTime)) {\n        context.global.chartStartTime = startTime;\n        context.global.chartEndTime = endTime;\n        newMsg = msg;\n    }\n}\n\nreturn newMsg;","outputs":1,"valid":true,"x":366,"y":1306,"z":"a5304f90.5acfb","wires":[["a0def25d.5f211","d493240e.2b6cd8"]]},{"id":"44fbf4d.fbb040c","type":"http response","name":"http response","x":1174,"y":729,"z":"a5304f90.5acfb","wires":[]},{"id":"a0def25d.5f211","type":"http response","name":"http response","x":642,"y":1308,"z":"a5304f90.5acfb","wires":[]},{"id":"d493240e.2b6cd8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":522,"y":1410,"z":"a5304f90.5acfb","wires":[]}]